body {
    background-color: #000000; /* Black background */
    color: #76b900; /* NVIDIA Green text */
    font-family: Arial, sans-serif; /* Arial font */
}

.container {
	display: flex;
	flex-direction: column;
	/* align-items: center; */
	justify-content: center;
	height: 100vh; /* Full height of the viewport */
}

h1, h2 {
    color: #76b900; /* NVIDIA Green headings */
}

.form-control {
    background-color: #1a1a1a; /* Dark gray input fields */
    color: #76b900; /* NVIDIA Green text */
    border: 1px solid #76b900; /* NVIDIA Green border */
}

.col-form-label {
	text-align: left;
}

.btn-primary {
    background-color: #76b900; /* NVIDIA Green button */
    border: none; /* Remove default border */
}

.btn-primary.extra-top-space {
    margin-top: 40px; /* Add extra space to the top */
}

.btn-primary:hover {
    background-color: #5a8d00; /* Darker green on hover */
}

.repo-btn {
	text-align: left;
}

.btn-outline-secondary {
    border: none;
    font-size: 10px; /* Match this to the .commit-sha class font size */
}

.left-justified {
	text-align: left;
}
.inline-display {
    display: flex;
    align-items: center; /* Align items vertically in the center */
}

.fw-bold {
    color: #ffffff; /* White text for the result */
}

.credits {
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 10px;
    color: #76b900; /* NVIDIA Green */
}

#version-finder-form {
    margin-top: 20px; /* Adjust as needed */
}

#copyButton i {
    transition: color 0.3s ease;
}

#copyButton:hover i {
    color: #007bff;
}

.tooltip-inner {
    background-color: #28a745 !important;
}

.tooltip.bs-tooltip-top .arrow::before {
    border-top-color: #28a745 !important;
}

#linkedin_ref {
    color: #76b900; /* NVIDIA Green */
    /* Remove default underline */
    text-decoration: none;
}