# Python egg metadata
*.egg
*.egg-info/
dist/
build/
eggs/
parts/
bin/
var/
sdist/
develop-eggs/
.installed.cfg

# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.env
.venv
version_finder_env
venv/
ENV/

# MacOS
.DS_Store
